*, *:after, *:before {
	box-sizing: border-box;
}

body{
    background: url(FondoInven.jpg) no-repeat center center fixed;
    background-size: cover;
	font-family: "Inter", sans-serif;
}


h1 {
	color: #000000;
	font-size: calc(0em + 3vw);  
	font-weight: 800;
}

a {
	color: #ffffff;
	font-size: calc(0em + 0.9vw);  
	font-weight: 700;
	padding: 10px;
	border-radius: 50px 50px 50px 50px;
}