<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Create new product</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" th:href="@{new.css}">
</head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
	<link rel="stylesheet" th:href="@{Compras.css}">
</head>

<body>
	<form action="#" th:action="@{/saveCompras}" th:object="${Producto}" method="post">

		<div align="center">

			<br>
			<h1>COMPRAS</h1>
			<h3>DATOS PERSONALES</h3>

			<br>

			<table>

				<div>
					<tr>
						<td>

							<div class="col-auto">
								<label for="Nombre" class="col-form-label">Nombre:</label>
							</div>
							<div class="col-auto">
								<input type="text" id="Nombre" class="form-control"
									aria-describedby="passwordHelpInline" field ="nombre" name ="nombre" >
							</div>
						</td>
						<div>
							<td>
								<div class="col-auto">
									<label for="Apellido" class="col-form-label">Apellido:</label>
								</div>
								<div class="col-auto">
									<input type="text" id="Apellido" class="form-control"
										aria-describedby="passwordHelpInline">
								</div>
							</td>
						</div>

						<div>
							<td>
								<div class="col-auto">
									<label for="NIT" class="col-form-label">NIT:</label>
								</div>
								<div class="col-auto">
									<input type="text" id="NIT" class="form-control"
										aria-describedby="passwordHelpInline">
								</div>
							</td>
						</div>

						<div>
							<td>
								<div class="col-auto">
									<label for="CIUDAD" class="col-form-label">CIUDAD:</label>
								</div>
								<div class="col-auto">
									<input type="text" id="CIUDAD" class="form-control"
										aria-describedby="passwordHelpInline">
								</div>
							</td>

						</div>

					</tr>
				</div>

				<div align="center">

					<tr>
						<td><br> <br>

							<h3>PEDIDO</h2>
								<div class="col-auto">
									<label for="CODPROD" class="col-form-label">CODIGO DE
										PRODUCTO:</label>
								</div>
								<div class="col-auto">
									<input type="text" id="COSPROD" class="form-control"
										aria-describedby="passwordHelpInline">
						</td>

						<td>
				</div> <br> <br> <br>
				<div class="col-auto">
					<label for="CANTPROD" class="col-form-label">CANTIDAD DE
						PRODUCTO:</label>
				</div>
				<div class="col-auto">
					<input type="text" id="CANTPROD" class="form-control" aria-describedby="passwordHelpInline">
				</div>
				</td>

				<td>
		</div> <br> <br> <br> <br> 
		<div class="col-auto">
			<h3>
				<a th:href="@{'/home'}" class="container p-3 my-3 bg-primary text-white">Agregar producto</a>
			</h3>
		</div>
		</td>



		</tr>
		</div>


		</table>
		<br>
		<br>

		<tr>

		</tr>
		<tr>

		<br>
	</form>
</body>

</html>