<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
	<link rel="stylesheet" th:href="@{Compras.css}">
</head>

<body>
	<form action="#" th:action="@{/save}" th:object="${Compras}" method="post">

		<div align="center">

			<br>
			<h1>COMPRAS</h1>
			<h3>DATOS PERSONALES</h3>

			<br>

			<table>

				<div>
					<tr>
						<td>

							<div class="col-auto">
								<label for="Nombre" class="col-form-label">Nombre:</label>
							</div>
							<div class="col-auto">
								<input type="text" id="Nombre" class="form-control"
									aria-describedby="passwordHelpInline">
							</div>
						</td>
						<div>
							<td>
								<div class="col-auto">
									<label for="Apellido" class="col-form-label">Apellido:</label>
								</div>
								<div class="col-auto">
									<input type="text" id="Apellido" class="form-control"
										aria-describedby="passwordHelpInline">
								</div>
							</td>
						</div>

						<div>
							<td>
								<div class="col-auto">
									<label for="NIT" class="col-form-label">NIT:</label>
								</div>
								<div class="col-auto">
									<input type="text" id="NIT" class="form-control"
										aria-describedby="passwordHelpInline">
								</div>
							</td>
						</div>

						<div>
							<td>
								<div class="col-auto">
									<label for="CIUDAD" class="col-form-label">CIUDAD:</label>
								</div>
								<div class="col-auto">
									<input type="text" id="CIUDAD" class="form-control"
										aria-describedby="passwordHelpInline">
								</div>
							</td>

						</div>

					</tr>
				</div>

				<div align="center">

					<tr>
						<td><br> <br>

							<h3>PEDIDO</h2>
								<div class="col-auto">
									<label for="CODPROD" class="col-form-label">CODIGO DE
										PRODUCTO:</label>
								</div>
								<div class="col-auto">
									<input type="text" id="COSPROD" class="form-control"
										aria-describedby="passwordHelpInline">
						</td>

						<td>
				</div> <br> <br> <br>
				<div class="col-auto">
					<label for="CANTPROD" class="col-form-label">CANTIDAD DE
						PRODUCTO:</label>
				</div>
				<div class="col-auto">
					<input type="text" id="CANTPROD" class="form-control" aria-describedby="passwordHelpInline">
				</div>
				</td>

				<td>
		</div> <br> <br> <br> <br> 
		<div class="col-auto">
			<h3>
				<a th:href="@{'/home'}" class="container p-3 my-3 bg-primary text-white">Agregar producto</a>
			</h3>
		</div>
		</td>



		</tr>
		</div>


		</table>
		<br>
		<br>

		<tr>

		</tr>
		<tr>

			<div class="col-sm-10" align="center">
				<div class="panel-body" align="center">
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th>ID PRODUCTO</th>
								<th>CODIGO DEL PRODUCTO</th>
								<th>NOMBRE DEL PRODUCTO</th>
								<th>CANTIDAD</th>
								<th>PRECIO</th>
								<th>TOTAL</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="Compras : ${liststudent }">
								<td th:text="${Compras.id}">ID PRODUCTO</td>
								<td th:text="${Compras.codProduct}">CODIGO DEL PRODUCTO</td>
								<td th:text="${Compras.productName}">NOMBRE DEL PRODUCTO</td>
								<td th:text="${Compras.cantproduct}">CANTIDAD</td>
								<td th:text="${Compras.precio}">PRECIO</td>
								<td>
									<a th:href="@{'/editCompra/' + ${Compras.id}}">Edit</a>
								</td>
								<td>
									<a th:href="@{'/deleteCompra/' + ${Compra.id}}">Delete</a>
								</td>
							</tr>

						</tbody>
					</table>

				</div>

			</div>
			<br>
			<br>
			<br>
			<br>
			<h3><a th:href="@{'/home'}" class="container p-3 my-3 bg-primary text-white">Pagina de Inicio</a></h3>

		</tr>
		<br>
	</form>
</body>

</html>